@font-face {
    font-family: 'GL';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GM';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GB';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

:root {
    --colorGreen: #cedfc3;
    --colorDGreen: #647367;
    --colorBg: #f8f8e7;
    --colorGBg: #d6e3ca;
    --colorBtn: #ce5561;
    --bodyc: #474747;
}

body {
    font-family: 'GM';
    color: var(--bodyc);

}

#box {
    background-color: black;
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box p {
    transform: rotate(90deg);
}

#box p br {
    display: none;
}

@media (max-width:1024px) {
    #box {
        width: auto;
        text-align: center;
    }

    #box p {
        transform: rotate(0);
        font-size: 3vw;
    }

    #box p br {
        display: block;
    }

}

@media (max-width:620px) {
    #box p {
        font-size: 20px;
    }
}

/* 
.box {
    position: fixed;
    width: 5rem;
    height: 5rem;
    background-color: black;
    transition: 0.5s;
}

.box1 {
    top: 0;
    left: 0;
}

.box1:hover,
.box4:hover {
    width: 100%;
}


.box2 {
    top: 0;
    right: 0
}

.box2:hover,
.box3:hover {
    height: 100%;
}

.box3 {
    bottom: 0;
    left: 0;
}

.box4 {
    bottom: 0;
    right: 0;
}

.right {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    right: 3rem;
    bottom: 3rem;
    position: fixed;
    background-color: yellow;
} */

/* .center:hover {
    width: 100%;
    height: 100%;
} */


.box {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 3px solid #000;
    color: #000;
    transform: translate(-50%, -50%);
}

.box:hover {
    background-color: black;
    color: white;
}

.box::before {
    content: '언어';
}

.box:hover::before {
    content: '한국어';

}

.popupdiv:before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.popupdiv #popup {
    display: block;
}

#popup {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 150px;
    height: 454px;
    line-height: 50px;
    font-size: 30px;
    display: none;
}

#popup button {

    right: 0;
    bottom: 100%;
}